<section>
  <div class="container">
    <div class="section-heading">
      <h1 class="section-title">İNCELEME ALANLARI</h1>
    </div>
    <div class="section-content">
      @@include('../plugins/focus-areas.html')
    </div>
  </div>
</section>

<section id="footer">
  <div class="container">
    <div class="logo">
      <img src="assets/images/logo.svg" alt="">
    </div>
    <p>
      ORSAM (Ortadoğu Stratejik Araştırmalar Merkezi), Türkiye’de eksikliği hissedilen Ortadoğu araştırmaları konusunda kamuoyunun ve dış politika ile ilgilenen çevrelerin ihtiyaçlarına yanıt verebilmek amacıyla Ocak 2009 tarihinde kurulmuştur. ORSAM Ankara merkezli, tarafsız ve kâr amacı gütmeyen bir düşünce kuruluşudur.

      <span><i class="fa fa-map-marker"></i> Süleyman Nazif Sokak No: 12-B Çankaya / Ankara</span>
      <span><i class="fa fa-phone"></i> +90 (312) 430 26 09</span>
      <span><i class="fa fa-fax"></i> +90 (312) 430 39 48Z</span>
    </p>
  </div>
</section>

<div class="sign">
  <div class="container">
    <p>
      <a href="http://www.megafonn.com/ankara-web-tasarim/">Ankara Web Tasarım</a>
      <i class="fa fa-circle"></i>
      <a href="http://megafonn.com">Megafonn Creative</a>
    </p>
  </div>
</div>
