<header>
  <img src="assets/images/logo.svg" class="logo" alt="ORSAM">
  <a href="#" class="mobile-toggler"><i class="fa fa-bars"></i></a>
</header>
<div class="mobile-menu">
  <ul>
    <li><a href="#"><i class="fa fa-home"></i> Anasayfa</a></li>
    <li><a href="#"><i class="fa fa-home"></i> ORSAM</a></li>
    <li>
      <a href="#"><i class="fa fa-home"></i> Yayınlar <i class="fa fa-chevron-down pull-right"></i></a>
      <ul class="dropdown-menu">
        <li><a href="#">Dış Politika Analiz</a></li>
        <li>
          <a href="#">Süreli Yayınlar <i class="fa fa-chevron-down pull-right"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">Ortadoğu Analiz</a></li>
            <li><a href="#">Ortadoğu Etütleri</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Bültenler <i class="fa fa-chevron-down pull-right"></i></a>
          <ul class="dropdown-menu">
            <li><a href="#">Aylık Ortadoğu Güncesi</a></li>
            <li><a href="#">Türkmen Güncesi</a></li>
            <li><a href="#">Günlük Ortadoğu Güncesi</a></li>
            <li><a href="#">Su Bülteni</a></li>
          </ul>
        </li>
        <li><a href="#">Raporlar</a></li>
        <li><a href="#">Değerlendirmeler</a></li>
        <li><a href="#">Söyleşiler</a></li>
        <li><a href="#">Tutanaklar</a></li>
        <li><a href="#">Toplantı Değerlendirmeleri</a></li>
        <li><a href="#">ORSAM Detay</a></li>
        <li><a href="#">Kitaplar</a></li>
      </ul>
    </li>
    <li><a href="#"><i class="fa fa-home"></i> Etkinlikler</a></li>
    <li><a href="#"><i class="fa fa-home"></i> Medya</a></li>
    <li><a href="#"><i class="fa fa-home"></i> Eğitim</a></li>
    <li><a href="#"><i class="fa fa-home"></i> İletişim</a></li>
  </ul>
</div>
